:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.flex-column {
  flex-direction: column;
}
.flex {
  display: flex;
}
#root, .App, body, html {
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
}

.jss1 {
  padding: 1rem 2.5rem;
}

.css-1vbrzl8 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: none;
}
.css-1eezi6a {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(63, 81, 181);
}
.ka-content, .ka-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.ka-wrapper {
  height: 100%;
}
.css-ykq3zm {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.css-1pyxybg {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  color: rgb(63, 81, 181);
}
.jss2 {
width: 16rem;
  padding: 0.5rem 3rem 2rem 3rem;
  background-color: #fafafa;
}
.jss3 {
  margin: 2rem 0;
  text-align: center;
}
.jss4 {
  margin-bottom: 1.5rem;
}
.css-i44wyl {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: top;
}
.css-uadgdw.Mui-error {
  color: rgb(211, 47, 47);
}
.css-uadgdw {
  color: rgb(117, 117, 117);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  padding: 0px;
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 133%;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(0px, -1.5px) scale(0.75);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

}
.css-sp68t1.Mui-error {
  color: rgb(211, 47, 47);
}
.css-135qv08 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
label + .css-135qv08 {
  margin-top: 0.8rem;
}
.css-1qw96cp {
  padding: 0.8rem;
}
.jss177 {
  display: flex;
  align-items: center;
}
.css-faujvq {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.8rem;
}
.jss178 {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.css-1p83tvv {
  display: flex;
  flex: 0 0 auto;
  margin-right: 0.8rem;
}
.css-1hy9t21 {
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  width: 3.5rem;
  border-radius: 0.5rem;
}

  .css-14tqbo1 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: block;

}
.css-rf2lqt {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgb(117, 117, 117);
  display: block;
}
.css-t1nuxs {
  margin: 0px 0px 0.35em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}
.jss180 {
  display: inline-block;
  padding: 0 0.5em;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 0.5em;
}
.css-1tqv6h6 {
  margin: 0px 0px 0.35em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

  .jss273 {
    display: flex;
    padding:  1rem 3rem 0.6rem 0rem;
    align-items: center;
    justify-content: space-between;

}
.jss275 {
  display: flex;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}
.jss276 {
  display: flex;
  flex: auto;
  align-items: center;
  margin-left: 10px;
}

 .flex-center {
   justify-content: center;
   align-items: center;
   justify-content: flex-start;
}
 .css-1u6z2n7{
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  place-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  min-width: 20px;
  line-height: 1;
  padding: 0px 6px;
  height: 20px;
  border-radius: 10px;
  z-index: 1;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(63, 81, 181);
  color: rgb(255, 255, 255);
  top: 0px;
  right: 0.1rem;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
}
